:root {
  --white-color: #fff;
  --black-color: #000;
  --grey-color: #777;
  --accent-color: #F8F200;
  --accent-color-alt: #52BEDC;

  --height-btn: 59px;

  --container-width: 1280px;
  --container-padding-x: 15px;

  --font-family-base: 'Roboto Condensed', sans-serif;
  --font-family-accent: 'Archangelsk', sans-serif;

  --transition: 0.2s ease;
}